@use "../abstracts/variable" as *;
@use "../abstracts/mixins" as *;

.nav {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  &-wrap {
    display: flex;
    align-items: center;
    gap: 125px;
  }
  &-menu {
    display: flex;
    align-items: center;
    gap: 35px;
    &_item {
      a {
        transition: 300ms;
        color: $text-color;
        font-weight: 700;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          width: 0%;
          left: -1px;
          height: 1.5px;
          background: $secondary;
          transition: 350ms;
        }
        &:hover {
          color: $secondary;
          &::after {
            width: 125%;
          }
        }
      }
    }
  }
  &-phone {
    @include primary-btn;
    i {
      font-size: 32px;
    }
  }
  &-button {
    background: transparent;
    border: none;
    font-size: 36px;
    cursor: pointer;
    display: none;
  }
  &-brand {
    max-width: 125px;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 1280px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .nav {
    &-wrap {
      gap: 50px;
    }
    &-button {
      display: block;
    }
    &-menu {
      display: none;
      position: fixed;
      background: #2c2d32;
      color: white;
      top: 0;
      bottom: 0;
      right: 0;
      flex-direction: column;
      padding-top: 75px;
      padding-left: 125px;
      padding-right: 125px;
      &_item {
        a {
          color: white;
          font-size: 26px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    &-phone {
      display: none;
    }
    &-wrap {
      gap: 50px;
    }
    &-button {
      display: block;
    }
    &-menu {
      display: none;
      position: fixed;
      background: #2c2d32;
      color: white;
      top: 0;
      bottom: 0;
      right: 0;
      flex-direction: column;
      padding-top: 75px;
      padding-left: 125px;
      padding-right: 125px;
      &_item {
        a {
          color: white;
          font-size: 26px;
        }
      }
    }
  }
}
@media (max-width: 70px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    &-phone {
      display: none;
    }
    &-wrap {
      gap: 50px;
    }
    &-button {
      display: block;
      font-size: 12px;
    }
    &-menu {
      display: none;
      position: fixed;
      background: #2c2d32;
      color: white;
      top: 0;
      bottom: 0;
      right: 0;
      flex-direction: column;
      padding-top: 75px;
      padding-left: 125px;
      padding-right: 125px;
      &_item {
        a {
          color: white;
          font-size: 26px;
        }
      }
    }
  }
}
